@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "The Ganderson - Home";
    ViewBag.Heading = "Paden Jorgensen";
    ViewBag.SubHeading = "You can call me Paden";
}
<!-- Assignment 2: Paden Jorgensen
    index.html - main page of the assignment-->

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="p-5">
                    <img class="img-fluid rounded" src="img/rafting.JPG" />
                </div>

            </div>
            <div class="col-sm-6">
                <div class="p-5">
                    <h4>
                        My Hopes for 413
                    </h4>
                    <p>
                        I look forward to understanding the fundamentals, tips, and tricks of MVC development. I'm excited to practice my development skills and expand them to include C#.
                        I'm also stoked to get more familiar with Visual Studio; it's an amazing IDE. By far the most exciting for me is a chance to get into REACT. I hope we have time for it.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="p-5">
                    <h4>My Top 3 Career Choices after Graduation</h4>
                    <ol>
                        <li>CTO of a start-up I help to co-found</li>
                        <li>Software Development Team Lead</li>
                        <li>Professor of Innovation</li>
                    </ol>
                </div>
            </div>
            <div class="col-6">
                <div class="p-5">
         
                </div>
            </div>
        </div>
        <!-- Here is a comment -->
    </div>
    <script src=""></script>
</body>


